body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    --s: 76px; /* control the size */
    --c: #1a144a;
    --_g: conic-gradient(var(--c) 25%,#0000 0) 0 0;
    background:
    var(--_g)/calc(2*var(--s)) calc(var(--s)/9.5),
    var(--_g)/calc(var(--s)/9.5) calc(2*var(--s)),
    repeating-conic-gradient(#0000 0 25%,var(--c) 0 50%) 
    var(--s) 0 /calc(2*var(--s)) calc(2*var(--s)),
    radial-gradient(50% 50%,#2eb044 98%,var(--c)) 
    0 0/var(--s) var(--s);
    
}

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #a0f4fa;
    border: 5px solid black;
    box-shadow: 10px 10px ;
    height: 60vh;
}

#question-container {
    margin-bottom: 20px;
}

#options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.profile-info,
.session-score {
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 20px;
}

.profile-info {
    flex-basis: 45%;
}

.session-score {
    flex-basis: 45%;
}

h2 {
    margin-top: 0;
}

p {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

#input-tittle{
    
}